<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <section>
      <h2>Sur le web...</h2>
      <ul class="icons">
        <li><a href="https://www.linkedin.com/romainchapon" class="icon brands style2 fa-linkedin"    target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.twitter.com/lechaps"       class="icon brands style2 fa-twitter"     target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/thechaps"     class="icon brands style2 fa-facebook-f"  target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/lechaps03"   class="icon brands style2 fa-instagram"   target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.github.com/lechaps"        class="icon brands style2 fa-github"      target="_blank"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:contact@lechaps.com"            class="icon solid style2 fa-envelope"     target="_blank"><span class="label">Email</span></a></li>
      </ul>
    </section>
    <ul class="copyright">
      <li>&copy; LeChaps.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>
