<!-- Main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </header>
    <section class="tiles">
      {{ range $num, $page := .Pages.ByWeight }}
        <article class="style{{ add $num 1 }}">
          <span class="image">
            <img src="images/{{ .Params.img }}" alt="" />
          </span>
          <a href="{{ .Params.link }}" target="_blank">
            <h2>{{ .Title }}</h2>
            <div class="content">
              {{ .Content }}
            </div>
          </a>
        </article>
      {{ end }}
    </section>
  </div>
</div>